// Orbitron
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


// Blender Pro
@font-face {
    font-family: 'Blender Pro';
    font-display: swap;
    src: url("../fonts/BlenderPro-Medium.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Blender Pro';
    font-display: swap;
    src: url("../fonts/BlenderPro-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}